.banner {
    background-color: #003087;
}

#title {
    font-family: "Stencil", Helvetica, Arial, Sans-Serif;
    background-color: inherit;
    color: #74AC04;
    font-size: 2em;
    padding-bottom: 0.430em;
	}

#tagline {
    font-size: 1em;
    margin: -2em 0 0 12.1em;
    padding-bottom: 1em;
    letter-spacing: 0.1em;
    line-height: 100% !important;
    color: #d0dcee;
    background-color: transparent;
}

@media (max-width: 500px) {
    #tagline , a {
        display:none
    }

 th {
     background-color: #74AC04;
 }

}